In [ ]:
import cx_Oracle

# cx_oracle connection
db_dtt =cx_Oracle.connect(user="datkt",password="hct5Kg",dsn="192.168.18.32:1521/DTT")

# data
import pandas as pd
irisData = pd.read_csv("https://github.com/Muhd-Shahid/Write-Raw-File-into-Database-Server/raw/main/iris.csv",index_col=False)
irisData.head()

# create table with type
from cx_Oracle import DatabaseError
try:
    conn = cx_Oracle.connect(user="datkt",password="hct5Kg",dsn="192.168.18.32:1521/DTT")
    if conn:
        # print("cx_Oracle version:", cx_Oracle.version)
        # print("Database version:", conn.version)
        # print("Client version:", cx_Oracle.clientversion())
        
        # Now execute the sqlquery 
        cursor = conn.cursor()
        print("You're connected.................")
        
        # Drop table if exists
        print('Droping iris table if exists............')
        cursor.execute("BEGIN EXECUTE IMMEDIATE 'DROP TABLE DTT_SD.iris'; EXCEPTION WHEN OTHERS THEN NULL; END;")
        
        print('Creating table iris............')
        cursor.execute("CREATE TABLE DTT_SD.iris (sepal_length number(3,1) NOT NULL, sepal_width number(3,1) NOT NULL, petal_length number(3,1) NOT NULL, petal_width number(3,1),species varchar2(10) NOT NULL)")
        print("iris table is created..............")
except DatabaseError as e:
    err, = e.args
    print("Oracle-Error-Code:", err.code)
    print("Oracle-Error-Message:", err.message)
finally:
    cursor.close()
    conn.close()

# upload data to db oracle
from sqlalchemy import create_engine
engine = create_engine('oracle+cx_oracle://dtt_sd:hct5Kg@192.168.18.32:1521/?service_name=DTT')
irisData.to_sql('iris',schema = 'DTT_SD', con = engine, if_exists = 'append', chunksize = 1000,index=False)
print("Record inserted successfully")

In [1]:
# phân quyền user
"""
grant select/insert/update/delete on <schema>.<table_name> to <username>;
"""

'\ngrant select/insert/update/delete on <schema>.<table_name> to <username>;\n'